node_modules
.DS_Store
.env
.env.*
!.env.example
.turbo
.next
.expo
expo-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
build
coverage
.k8s-cache
**/.idea
**/.vscode
**/.expo
**/.turbo
**/tmp
